$red-highlight: #f65261;
$common-background: #555555;
$panel-background: #232323;
$panel-opacity-background: #232323eb;
$input-background: #323232cc;
$text: white;
$box-shadow: #080707;
$border: #424242;
