.movie-sort {
  display: flex;
  font-size: 16px;
  user-select: none;

  &_label {
    margin-right: 20px;
    opacity: 0.6;
  }

  &_option {
    display: flex;
    margin-right: 10px;
  }

  &_name {
    margin-right: 5px;
    cursor: pointer;

    &.selected {
      font-weight: 500;
    }
  }
}
