@use '../../styles/colors' as *;

.search-form {
  height: 396px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  color: $text;

  &_background {
    height: 100%;
    width: 100%;
    position: absolute;
    background: url('../../../public/assets/posters.jpg');

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(0 0 0 / 80%);
      backdrop-filter: blur(3px);
    }
  }

  input,
  &_title {
    position: relative;
    z-index: 1;
  }

  &_title {
    margin-bottom: 30px;
    font-size: 40px;
    letter-spacing: 1px;
    opacity: 0.8;
  }

  input {
    margin-right: 10px;
    padding-left: 20px;
  }

  &_add-button button {
    position: absolute;
    top: 20px;
    right: 50px;
    width: 177px;
  }

  &_search button {
    position: relative;
    z-index: 1;
    width: 233px;
  }
}
