.movie-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;

  li {
    position: relative;
  }
}

.movies-error {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.loader-wrapper {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100vw;
  height: 100vh;
  line-height: 100vh;
  background-color: rgb(0, 0, 0, 0.7);
}
